<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ if .Title }}{{ .Title }} · {{ end }}Devon Moore</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  <div class="layout">
    {{ partial "sidebar.html" . }}
    <main class="content">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>
